body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.element {
  float: left;
}

.text {
  position: relative;
  float: left;
  min-height: 41px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

._input {
  display: block;
  position: relative;
  float: left;
  padding: 0 10px;
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

._textarea {
  display: block;
  position: relative;
  float: left;
  margin-left: 10%;
  padding: 5px;
  border: 1px solid rgb(119, 119, 119);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
  resize: none;
}

.element-1 {
  width: 80%;
  height: 1px;
  margin: -62px 0 0 4%;
  background-color: rgb(17, 255, 0);
}

.element-2 {
  position: relative;
  z-index: 34;
  width: 80%;
  height: 1px;
  margin: 7px 0 0 10%;
  background-color: rgb(0, 0, 0);
}

.element-3 {
  position: relative;
  z-index: 26;
  width: 0.0833333333%;
  height: 266px;
  margin: -1px 0 0 28.91667%;
  background-color: rgb(0, 0, 0);
}

.element-4 {
  position: relative;
  z-index: 36;
  width: 80%;
  height: 1px;
  margin: -146px 0 0 10%;
  background-color: rgb(0, 0, 0);
}

.element-5 {
  position: relative;
  clear: both;
  z-index: 37;
  width: 80%;
  height: 1px;
  margin: -9px 0 0 10%;
  background-color: rgb(0, 0, 0);
}

.element-6 {
  width: 80%;
  height: 1px;
  margin: 3px 0 0 10%;
  background-color: rgb(0, 0, 0);
}

.element-7 {
  position: relative;
  clear: both;
  z-index: 39;
  width: 80%;
  height: 1px;
  margin: -8px 0 0 10%;
  background-color: rgb(0, 0, 0);
}

.text-1 {
  clear: both;
  z-index: 11;
  width: 11.0833333333%;
  margin: 5px 0 0 10%;
}

.text-10 {
  clear: both;
  z-index: 14;
  width: 11.0833333333%;
  margin: 2px 0 0 14.16276%;
  text-align: center;
}

.text-11 {
  clear: both;
  z-index: 15;
  width: 11.0833333333%;
  margin: -41px 0 0 25.23438%;
  text-align: center;
}

.text-12 {
  z-index: 16;
  width: 11.0833333333%;
  margin: -41px 0 0 41.89063%;
  text-align: center;
}

.text-13 {
  z-index: 17;
  width: 11.0833333333%;
  margin: -41px 0 0 59.23177%;
  text-align: center;
}

.text-14 {
  z-index: 18;
  width: 11.0833333333%;
  margin: -41px 0 0 68.63021%;
  text-align: center;
}

.text-15 {
  z-index: 19;
  width: 11.0833333333%;
  margin: -41px 0 0 76.3151%;
  text-align: center;
}

.text-16 {
  clear: both;
  z-index: 27;
  width: 15.1666666666%;
  margin-left: 10%;
}

.text-17 {
  z-index: 29;
  width: 12.5833333333%;
  margin: 4px 0 0 30.16667%;
}

.text-18 {
  clear: both;
  z-index: 28;
  width: 15.1666666666%;
  margin: -10px 0 0 10%;
}

.text-19 {
  z-index: 32;
  width: 12.8333333333%;
  margin: -6px 0 0 6.1627599999%;
}

.text-2 {
  z-index: 6;
  width: 20.6666666666%;
  margin: 5px 0 0 1.66667%;
}

.text-20 {
  clear: both;
  z-index: 31;
  width: 12.5833333333%;
  margin: -130px 0 0 55.33203%;
}

.text-21 {
  z-index: 47;
  width: 12.8333333333%;
  margin: -61px 0 0 55.33203%;
}

.text-22 {
  z-index: 33;
  width: 16.3333333333%;
  margin: -26px 0 0 55.33333%;
}

.text-3 {
  clear: both;
  z-index: 8;
  width: 20.6666666666%;
  margin: -222px 0 0 51.75%;
}

.text-4 {
  z-index: 10;
  width: 20.6666666666%;
  margin: -181px 0 0 51.75%;
}

.text-5 {
  z-index: 1;
  width: 16.3333333333%;
  margin: -140px 0 0 10%;
}

.text-6 {
  z-index: 2;
  width: 16.3333333333%;
  margin: -104px 0 0 10%;
}

.text-7 {
  z-index: 12;
  width: 11.0833333333%;
  margin: -138px 0 0 50.79948%;
}

.text-8 {
  z-index: 3;
  width: 16.3333333333%;
  margin: -69px 0 0 10%;
}

.text-9 {
  z-index: 4;
  width: 16.3333333333%;
  margin: -33px 0 0 10%;
}

._input-1 {
  z-index: 5;
  width: 16.75%;
  height: 32px;
  margin: 5px 0 0 0.83073%;
  background-color: rgb(255, 255, 255);
}

._input-10 {
  clear: both;
  z-index: 22;
  width: 23%;
  height: 27px;
  margin: -27px 0 0 36.25%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-100 {
  z-index: 44;
  width: 16.3333333333%;
  height: 26px;
  margin: -96px 0 0 73.26563%;
  background-color: rgb(230, 228, 228);
}

._input-101 {
  z-index: 45;
  width: 16.3333333333%;
  height: 26px;
  margin: -61px 0 0 73.26432%;
  background-color: rgb(230, 228, 228);
}

._input-102 {
  z-index: 46;
  width: 16.3333333333%;
  height: 26px;
  margin: -26px 0 0 1.59505%;
  background-color: rgb(230, 228, 228);
}

._input-11 {
  z-index: 23;
  width: 11.0833333333%;
  height: 27px;
  margin: -27px 0 0 59.25%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-12 {
  z-index: 24;
  width: 7.5833333333%;
  height: 27px;
  margin: -27px 0 0 70.33203%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-13 {
  z-index: 25;
  width: 9.4166666666%;
  height: 27px;
  margin: -27px 0 0 77.91667%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-14 {
  z-index: 48;
  width: 11.0833333333%;
  height: 27px;
  margin-left: 14.16276%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-15 {
  z-index: 49;
  width: 11.0833333333%;
  height: 27px;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-16 {
  clear: both;
  z-index: 50;
  width: 23%;
  height: 27px;
  margin: -27px 0 0 36.24349%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-17 {
  z-index: 51;
  width: 11.0833333333%;
  height: 27px;
  margin: -27px 0 0 59.24479%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-18 {
  z-index: 52;
  width: 7.5833333333%;
  height: 27px;
  margin: -27px 0 0 70.32813%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-19 {
  z-index: 53;
  width: 9.4166666666%;
  height: 27px;
  margin: -27px 0 0 77.91276%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-2 {
  z-index: 7;
  width: 16.75%;
  height: 32px;
  margin: -222px 0 0 73.2474%;
  background-color: rgb(255, 255, 255);
}

._input-20 {
  z-index: 54;
  width: 11.0833333333%;
  height: 27px;
  margin-left: 14.16797%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-21 {
  z-index: 55;
  width: 11.0833333333%;
  height: 27px;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-22 {
  clear: both;
  z-index: 56;
  width: 23%;
  height: 27px;
  margin: -27px 0 0 36.2513%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-23 {
  z-index: 57;
  width: 11.0833333333%;
  height: 27px;
  margin: -27px 0 0 59.2526%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-24 {
  z-index: 58;
  width: 7.5833333333%;
  height: 27px;
  margin: -27px 0 0 70.3346399999%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-25 {
  z-index: 59;
  width: 9.4166666666%;
  height: 27px;
  margin: -27px 0 0 77.91927%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-26 {
  z-index: 60;
  width: 11.0833333333%;
  height: 27px;
  margin-left: 14.16667%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-27 {
  z-index: 61;
  width: 11.0833333333%;
  height: 27px;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-28 {
  clear: both;
  z-index: 62;
  width: 23%;
  height: 27px;
  margin: -27px 0 0 36.24349%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-29 {
  z-index: 63;
  width: 11.0833333333%;
  height: 27px;
  margin: -27px 0 0 59.2474%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-3 {
  z-index: 9;
  width: 16.75%;
  height: 32px;
  margin: -184px 0 0 73.2474%;
  background-color: rgb(255, 255, 255);
}

._input-30 {
  z-index: 64;
  width: 7.5833333333%;
  height: 27px;
  margin: -27px 0 0 70.33073%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-31 {
  z-index: 65;
  width: 9.4166666666%;
  height: 27px;
  margin: -27px 0 0 77.91406%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-32 {
  z-index: 66;
  width: 11.0833333333%;
  height: 27px;
  margin-left: 14.16797%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-33 {
  z-index: 67;
  width: 11.0833333333%;
  height: 27px;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-34 {
  clear: both;
  z-index: 68;
  width: 23%;
  height: 27px;
  margin: -27px 0 0 36.2487%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-35 {
  z-index: 69;
  width: 11.0833333333%;
  height: 27px;
  margin: -27px 0 0 59.2513%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-36 {
  z-index: 70;
  width: 7.5833333333%;
  height: 27px;
  margin: -27px 0 0 70.3346399999%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-37 {
  z-index: 71;
  width: 9.4166666666%;
  height: 27px;
  margin: -27px 0 0 77.91797%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-38 {
  z-index: 72;
  width: 11.0833333333%;
  height: 27px;
  margin-left: 14.16276%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-39 {
  z-index: 73;
  width: 11.0833333333%;
  height: 27px;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-4 {
  z-index: 0;
  width: 20.5%;
  height: 27px;
  margin: -138px 0 0 28.83073%;
  background-color: rgb(255, 255, 255);
}

._input-40 {
  clear: both;
  z-index: 74;
  width: 23%;
  height: 27px;
  margin: -27px 0 0 36.2474%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-41 {
  z-index: 75;
  width: 11.0833333333%;
  height: 27px;
  margin: -27px 0 0 59.2487%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-42 {
  z-index: 76;
  width: 7.5833333333%;
  height: 27px;
  margin: -27px 0 0 70.33073%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-43 {
  z-index: 77;
  width: 9.4166666666%;
  height: 27px;
  margin: -27px 0 0 77.91406%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-44 {
  z-index: 78;
  width: 11.0833333333%;
  height: 27px;
  margin-left: 14.16276%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-45 {
  z-index: 79;
  width: 11.0833333333%;
  height: 27px;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-46 {
  clear: both;
  z-index: 80;
  width: 23%;
  height: 27px;
  margin: -27px 0 0 36.24089%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-47 {
  z-index: 81;
  width: 11.0833333333%;
  height: 27px;
  margin: -27px 0 0 59.24349%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-48 {
  z-index: 82;
  width: 7.5833333333%;
  height: 27px;
  margin: -27px 0 0 70.32682%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-49 {
  z-index: 83;
  width: 9.4166666666%;
  height: 27px;
  margin: -27px 0 0 77.91016%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-5 {
  z-index: 40;
  width: 20.5%;
  height: 27px;
  margin: -104px 0 0 28.79948%;
  background-color: rgb(255, 255, 255);
}

._input-50 {
  z-index: 84;
  width: 11.0833333333%;
  height: 27px;
  margin-left: 14.16276%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-51 {
  z-index: 85;
  width: 11.0833333333%;
  height: 27px;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-52 {
  clear: both;
  z-index: 86;
  width: 23%;
  height: 27px;
  margin: -27px 0 0 36.24349%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-53 {
  z-index: 87;
  width: 11.0833333333%;
  height: 27px;
  margin: -27px 0 0 59.2474%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-54 {
  z-index: 88;
  width: 7.5833333333%;
  height: 27px;
  margin: -27px 0 0 70.33073%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-55 {
  z-index: 89;
  width: 9.4166666666%;
  height: 27px;
  margin: -27px 0 0 77.91406%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-56 {
  z-index: 90;
  width: 11.0833333333%;
  height: 27px;
  margin-left: 14.16797%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-57 {
  z-index: 91;
  width: 11.0833333333%;
  height: 27px;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-58 {
  clear: both;
  z-index: 92;
  width: 23%;
  height: 27px;
  margin: -27px 0 0 36.25%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-59 {
  z-index: 93;
  width: 11.0833333333%;
  height: 27px;
  margin: -27px 0 0 59.25391%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-6 {
  z-index: 41;
  width: 20.5%;
  height: 27px;
  margin: -69px 0 0 28.79948%;
  background-color: rgb(255, 255, 255);
}

._input-60 {
  z-index: 94;
  width: 7.5833333333%;
  height: 27px;
  margin: -27px 0 0 70.33724%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-61 {
  z-index: 95;
  width: 9.4166666666%;
  height: 27px;
  margin: -27px 0 0 77.92057%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-62 {
  z-index: 96;
  width: 11.0833333333%;
  height: 27px;
  margin-left: 14.16276%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-63 {
  z-index: 97;
  width: 11.0833333333%;
  height: 27px;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-64 {
  clear: both;
  z-index: 98;
  width: 23%;
  height: 27px;
  margin: -27px 0 0 36.24349%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-65 {
  z-index: 99;
  width: 11.0833333333%;
  height: 27px;
  margin: -27px 0 0 59.2474%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-66 {
  z-index: 100;
  width: 7.5833333333%;
  height: 27px;
  margin: -27px 0 0 70.33073%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-67 {
  z-index: 101;
  width: 9.4166666666%;
  height: 27px;
  margin: -27px 0 0 77.91406%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-68 {
  z-index: 102;
  width: 11.0833333333%;
  height: 27px;
  margin-left: 14.16276%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-69 {
  z-index: 103;
  width: 11.0833333333%;
  height: 27px;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-7 {
  z-index: 42;
  width: 20.5%;
  height: 27px;
  margin: -33px 0 0 2.4974%;
  background-color: rgb(255, 255, 255);
}

._input-70 {
  clear: both;
  z-index: 104;
  width: 23%;
  height: 27px;
  margin: -27px 0 0 36.24349%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-71 {
  z-index: 105;
  width: 11.0833333333%;
  height: 27px;
  margin: -27px 0 0 59.2474%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-72 {
  z-index: 106;
  width: 7.5833333333%;
  height: 27px;
  margin: -27px 0 0 70.33073%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-73 {
  z-index: 107;
  width: 9.4166666666%;
  height: 27px;
  margin: -27px 0 0 77.91406%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-74 {
  z-index: 108;
  width: 11.0833333333%;
  height: 27px;
  margin-left: 14.16667%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-75 {
  z-index: 109;
  width: 11.0833333333%;
  height: 27px;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-76 {
  clear: both;
  z-index: 110;
  width: 23%;
  height: 27px;
  margin: -27px 0 0 36.2474%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-77 {
  z-index: 111;
  width: 11.0833333333%;
  height: 27px;
  margin: -27px 0 0 59.2513%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-78 {
  z-index: 112;
  width: 7.5833333333%;
  height: 27px;
  margin: -27px 0 0 70.3346399999%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-79 {
  z-index: 113;
  width: 9.4166666666%;
  height: 27px;
  margin: -27px 0 0 77.91797%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-8 {
  z-index: 20;
  width: 11.0833333333%;
  height: 27px;
  margin-left: 14.16667%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-80 {
  z-index: 114;
  width: 11.0833333333%;
  height: 27px;
  margin-left: 14.16797%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-81 {
  z-index: 115;
  width: 11.0833333333%;
  height: 27px;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-82 {
  clear: both;
  z-index: 116;
  width: 23%;
  height: 27px;
  margin: -27px 0 0 36.2487%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-83 {
  z-index: 117;
  width: 11.0833333333%;
  height: 27px;
  margin: -27px 0 0 59.2526%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-84 {
  z-index: 118;
  width: 7.5833333333%;
  height: 27px;
  margin: -27px 0 0 70.3359399999%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-85 {
  z-index: 119;
  width: 9.4166666666%;
  height: 27px;
  margin: -27px 0 0 77.91927%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-86 {
  z-index: 120;
  width: 11.0833333333%;
  height: 27px;
  margin-left: 14.16797%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-87 {
  z-index: 121;
  width: 11.0833333333%;
  height: 27px;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-88 {
  clear: both;
  z-index: 122;
  width: 23%;
  height: 27px;
  margin: -27px 0 0 36.2487%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-89 {
  z-index: 123;
  width: 11.0833333333%;
  height: 27px;
  margin: -27px 0 0 59.2513%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-9 {
  z-index: 21;
  width: 11.0833333333%;
  height: 27px;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-90 {
  z-index: 124;
  width: 7.5833333333%;
  height: 27px;
  margin: -27px 0 0 70.3346399999%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-91 {
  z-index: 125;
  width: 9.4166666666%;
  height: 27px;
  margin: -27px 0 0 77.91797%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-92 {
  z-index: 126;
  width: 11.0833333333%;
  height: 27px;
  margin-left: 14.16797%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-93 {
  clear: both;
  z-index: 127;
  width: 11.0833333333%;
  height: 27px;
  margin: -27px 0 0 25.25%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-94 {
  z-index: 128;
  width: 23%;
  height: 27px;
  margin: -27px 0 0 36.2487%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-95 {
  z-index: 129;
  width: 11.0833333333%;
  height: 27px;
  margin: -27px 0 0 59.2513%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-96 {
  z-index: 130;
  width: 7.5833333333%;
  height: 27px;
  margin: -27px 0 0 70.3346399999%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-97 {
  z-index: 131;
  width: 9.4166666666%;
  height: 27px;
  margin: -27px 0 0 77.91797%;
  background-color: rgb(242, 242, 242);
  text-align: center;
}

._input-98 {
  z-index: 30;
  width: 16.3333333333%;
  height: 26px;
  margin: 4px 0 0 5.33073%;
  background-color: rgb(230, 228, 228);
}

._input-99 {
  z-index: 43;
  width: 16.3333333333%;
  height: 26px;
  margin: -9px 0 0 48.09245%;
  background-color: rgb(230, 228, 228);
}

._textarea-1 {
  z-index: 13;
  width: 80%;
  height: 75px;
  margin-top: -8px;
  background-color: rgb(255, 255, 255);
}

._textarea-2 {
  clear: both;
  z-index: 132;
  width: 39.1666666666%;
  height: 104px;
  margin-top: -14px;
  background-color: rgb(242, 242, 242);
}

.text a,
.text em,
.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}